*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}


body {
     
    background-color: #ffd900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



header {
    background-color: #fff;
    width: 100vw;
    height: 50px;
    position: sticky;
    top:0;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

header img {
    width: 25px;
    height: 25px;
    margin-right: 50px;
}

header h1 {
    font-size: 18px;
    font-weight: bold;
     
}

header a {
    font-size: 14px;
    margin-left: 50px;
    font-weight: bold;
    color: black;
}

.container{
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.5), inset -5px -5px 10px rgba(0, 0, 0, 0.4 ); 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 5rem;
    padding: auto   50px;
     

 
}

.input-box {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

  

.input-box input {

background-color: #690148;
color: white;
border: none;
border-radius: 10px;
width: 150px;
height: 70px;
box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5 ),  inset -2px -2px 10px rgba(0, 0, 0, 0.8 ) ;
border: 2px solid white;
display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
font-size: 1.5rem ;
text-align: center;


}

.input-box input:hover {
    cursor: pointer;
   
}



::placeholder {
    color: white;
    font-size: .8rem ;
    
}


/* create an input element of type "number" without the up and down arrows................ */

/* Chrome, Safari, Edge, Opera */
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





.button-box {

    margin-top: 2rem;
    display: flex;
     flex-wrap: wrap;
     gap: 1rem;
    justify-content: center;
    align-items: center;

}
 

.button-box button   {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5 ),  inset -2px -2px 10px rgba(0, 0, 0, 0.8 ) ;
    border: 2px solid white;
    padding: 0.5rem 1.2rem;
    border: none;
    margin-bottom:  .6rem;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}


 



.button-box button:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}


#output{
    border: none;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 90%;
     padding: 40px 20px;
     text-align: center;
     background-color: #009b9b;
    color: #ffffff;
    margin: 30px auto;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow:  4px 4px 12px rgba(0, 0, 0, 0.5 );
    border: 2px solid white;
    border-radius: 10px;
    height: 1rem;
    margin-top: 1rem;
    

}

.hide{
    visibility: hidden;
}

.red-bg {
    background-color: red !important;
    color: white;
}


#btn1, #btn2, #btn3, #btn4  {
    background-color:  #ffffff;
    color: #000000;
    
}

 
#reset {
    width: 150px;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5 ),  inset -2px -2px 10px rgba(0, 0, 0, 0.8 ) ;
    padding: .5rem 1rem;
    border: none;    
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    background-color:  #b505fb;
    color: #ffffff;
    
}

#reset:hover {
    cursor: pointer;
    transform: scale(1.09);
    transition: 0.3s ease-in-out;
}

.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
    
footer{
    position:sticky;
    bottom: 0;
    width: 100vw;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
    background-color: rgb(0, 0, 0);
    text-align: center;
     
}

footer p {
    font-weight: 700;
   color: #ffffff;
   padding: 1rem;
   text-align: center;
   font-size: 10px;
}


footer a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    font-size: 12px;
}
footer a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin: 0 auto;
    background: #fbd500;
    transition: width 0.4s;
    left: 0;
    right: 0;
    bottom: -5px;
}

footer a:hover::after {
    width: 100%;
}

 

.social-icon {
    color: white;
    margin: 0 2rem;
    

}

i {
    font-size: 2rem;
}
